* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #0A0F1C;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth !important;
}

a {
  color: inherit;
  text-decoration: none;
}